.menu__list__item {
    position: relative;
    width: 230px;
    padding: 120px 34px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(33, 10, 1, 1);
    border-radius: 29px;
    z-index: 0;
    scroll-snap-align: start;
    transition: 0.4s;
}

.menu__list__item__img {
    position: absolute;
    top: -100px;
   
}

.menu__list__item__title {
    font-size: 25px;
    font-weight: 500;
}

.menu__list__item__description {
    font-size: 14.32px;
    font-weight: 400;
    color: gray;
}

.menu__list__item__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 194px;
}

.menu__list__item__quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.menu__list__item__quantity-btn {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    border-radius: 50%;
    color: white;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}

.menu__list__item__quantity-btn_disable {
    background: transparent;
    border: 2px solid rgb(91, 91, 91);
}

.menu__list__item__quantity-btn:hover {
    transform: scale(1.1);
}

.menu__list__item__link {
    width: 194px;
    height: 45px;
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    border-radius: 84px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.menu__list__item__link:hover {
    transform: scale(1.05);
}
