@import url(./normalize.css);

@font-face {
    font-family: 'Museo';
    src: url(./fonts/MuseoSansCyrl-300.woff2);
    font-weight: 300;
}

@font-face {
    font-family: 'Museo';
    src: url(./fonts/MuseoSansCyrl-500.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Museo';
    src: url(./fonts/MuseoSansCyrl-900.woff2);
    font-weight: 900;
}

#root {
    font-family: 'Museo';
    color: white;
    background-color: rgb(28, 28, 34);
    min-height: 100vh;
    transition: 0.4s;
    overflow-x: hidden;

}

h1 {
    font-weight: 900;
    font-size: 54px;
}

.container {
    margin: auto;
    max-width: 1300px;
    width: 90%;
    padding: 20px;
}

.header {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid black;
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.header_dark {
    background-color: rgb(28, 28, 34);
}

.header__theme {
    position: relative;
    margin-right: 30px;
    width: 65px;
    height: 30px;
    padding: 2px 4px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    background-color: rgb(28, 28, 34);
    justify-content: start;
    transition: 0.4s;
    transition: justify-content 0.4s;
}

.header__theme_dark {
    background-color: rgb(202, 202, 202);
}

.header__theme__switch {
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.4s;
    transform: scale(0.9);
}

.header__theme__switch_dark {
    background-color: black;
    transform: translateX(calc(65px - 30px));
}

.preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.preview__info {
    max-width: 500px;
}

.preview__title {
    margin-bottom: 20px;
}

.preview__text {
    font-size: 20px;
}


.preview__img {
    max-width: 700px;
}

.expirience {
    text-align: center;
    margin-top: 100px;
}

.expirience__title {
    text-align: center;
}

.expirience__text {
    font-size: 20px;
}

.stack {
    text-align: center;
    margin: 100px auto 0;
}

.stack__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 50px;
    align-items: end;
    padding: 0;
}

.projects {
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__title {
    text-align: center;
}

.projects__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.footer__link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.footer__link_light {
    background-color: rgb(28, 28, 34);
}

.footer__link__background {
    z-index: 0;
    position: absolute;
    bottom: -47px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(106, 26, 255);
    transition: 0.4s;
}

.footer__link:hover .footer__link__background {
    bottom: 0;
}

.footer__link__img {
    z-index: 1;
    width: 35px;
}

.footer__link__text {
    z-index: 1;
}

@media screen and (max-width: 1333px) {
    .preview {
        margin-top: 100px;
        justify-content: center ;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .preview__img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .stack__list {
        grid-template-columns: 250px;
        justify-content: center;
        width: 250px;
        margin: auto;
    }
}
    